<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybb.trade.mapper.TradeOrderMapper">

    <resultMap id="BaseResultMap" type="com.ybb.trade.entity.TradeOrder">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="currencyName" column="currency_name" jdbcType="CHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="buyerId" column="buyer_id" jdbcType="INTEGER"/>
            <result property="sellerId" column="seller_id" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="fee" column="fee" jdbcType="DECIMAL"/>
            <result property="totalAmount" column="total_amount" jdbcType="DECIMAL"/>
            <result property="payAmount" column="pay_amount" jdbcType="DECIMAL"/>
            <result property="finishTime" column="finish_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,currency_name,create_time,
        status,buyer_id,seller_id,
        price,amount,fee,
        total_amount,pay_amount,finish_time
    </sql>
    <select id="getDailyTradeOrder" resultType="com.ybb.trade.entity.TradeOrder" >

        SELECT <include refid="Base_Column_List"/>
        FROM trade_order
        WHERE DATE(finish_time) = #{date}
        and seller_id = #{memberId}
        and status = 1
    </select>
</mapper>
